* {
  box-sizing: border-box;
}

body{
  margin: 0;
  color: white;
  background-color: #000;

}

.app-title{
  text-align: center;
}
.weather-box{ 
  margin:auto;
  margin-top: 2em;
  width:70%;

}
.task-input{
  width:50%;
  color: black;
}

.srch-btn{
  margin-left: 1em;
}

.input-form{
  display:flex;                         
  flex-direction: row;
  justify-content: center;
}


.weather-output{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}






